@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 2cm; /* Margen general de la hoja */
  }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
    color: black !important;
    width: 100%;
    height: 100%;
  }

  .no-print { display: none !important; }

  .print-area {
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    /* Fuerza al contenedor a no exceder el alto de la hoja */
    height: 100vh;
    box-sizing: border-box;
  }
}